---

---

<section
  class="min-h-screen container mx-auto grid grid-cols-1 md:grid-cols-2 items-center gap-8 md:gap-12 px-4"
>
  <!-- Testo a sinistra -->
  <div data-motion="fade-in" class="text-center md:text-left">
    <h2 class="text-3xl sm:text-4xl lg:text-6xl font-bold tracking-tight mb-6">
      un'oasi di lusso<br /> sul mare di Milano <br /> Marittima
    </h2>
    <p
      class="text-base md:text-lg text-gray-600 leading-relaxed max-w-lg mx-auto md:mx-0"
    >
      Eleganza, esclusività e sapore mediterraneo. Il Beach Club di Marepinetta
      Resort è il luogo dove le giornate si trasformano in esperienze
      indimenticabili, tra momenti di relax, piatti d’autore e serate dal
      fascino unico, raccontate attraverso immagini, grafiche e motion design
      pensati per dare vita alla stagione estiva
    </p>
  </div>
  <!-- Immagine a destra -->
  <div
    data-motion="scale-in"
    class="aspect-4/5 max-h-[85vh] w-full rounded-2xl bg-amber-400/60 justify-self-center"
  >
  </div>
</section>
