---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/index/Hero.astro";
import Showcase from "../components/index/Showcase.astro";
import Split from "../components/index/Split.astro";
import Gallery from "../components/index/Gallery.astro";
import Future from "../components/index/Future.astro";
import Dark from "../components/index/Dark.astro";
import Partner from "../components/index/Partner.astro";
import Sphere from "../components/index/Sphere.astro";
---

<Layout>
  <div class="space-y-20">
    <Hero />
    <Showcase />
    <Split />
    <Gallery />
    <Future />
    <Dark />
    <Partner />
    <Sphere />
  </div>
</Layout>
